      <section id="messages">
        <div id="messageFeed">
        </div>

        <footer>
          <input type="text" id="messageTextarea">
          <input type="button" id="send" value="Send" />
        </footer>
      </section>